@use "../icaf-colors"as *;

@use "../icaf-general";
@use "../icaf-nav";
@use "../icaf-footer";

.tag {
  width: 375px;
  height: 19px;
  margin-top: 112px;
  margin-left: 190px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #939393;
}

.title {
  width: 363px;
  height: 55px;
  margin-top: 4px;
  margin-left: 185px;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  color: $ICAF_BLUE;
}
.content{
  
  margin-top: 20px;
  
  
  

.sections {

  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  max-width: 1440px;
  align-items: center;
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  
}

.section-titles {
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: $ICAF_BLUE;
}


  




.swiper {
  margin-top: 20px;
  width: 1200px;
  height: 158px;
  background-color: E7ECF2;
  .swiper-slide {
    width: 267px;
    
    
  }
  img {
    display: block;
    width: 267px;
    height: 158px;
    object-fit: fill;
    
  }
  .swiper-navBtn {
    height: 34px;
    width: 34px;
    margin-top: 0px;
    color: $ICAF_WHITE;
    background-color: $ICAF_BLUE;
    border-radius: 50%;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover {
    color: $ICAF_WHITE;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after {
    font-size: 30px;
  }
  .swiper-button-next {
    margin-right: 50px;
    align-items: center;
  }
  .swiper-button-prev {
    margin-left: 50px;
    align-items: center;
  }
}
.swiper-pagination {
  position: relative;
  margin-top: 13px;
  .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    margin: 10px;
    background-color: $ICAF_GRAY;
    opacity: 0.2;
    
  }
  .swiper-pagination-bullet-active {
    background-color: $ICAF_YELLOW;
    opacity: 1;
  }
  @media screen and (max-width: 768px) {
    .slide-content {
      margin: 0 10px;
    }
    .swiper-navBtn {
      display: none;
    }
  }
}
}