$fadeDuration: 0.5s;
$slideDuration: 0.5s;

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1358px;
  margin: 0 auto;
  margin-bottom: 100px;

  section {
    position: relative;
    width: 100%;
    height: 695px;
  }

  .goLeft,
  .goRight {
    position: absolute;
    top: 45%;
    height: 75px;
    width: 75px;
    opacity: 0.4;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover,
    &:active {
      background: rgba(255, 255, 255, 0.9);
      transition: background 0.2s ease-in-out;
    }
    > img {
      width: 20px;
    }
    &:hover > img {
      filter: brightness(0);
      transition: filter 0.2s ease-in-out;
    }
  }

  .goLeft {
    left: 0;
    &:hover,
    &:active {
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
    }
  }

  .goRight {
    right: 0;
    &:hover,
    &:active {
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
    }
  }

  .slide {
    height: 100%;
    width: 100%;
    background: #373535;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &.active {
      display: block;
    }
    &:not(.active) {
      display: none;
    }

    /* Regular */
    &.dir-right {
      &.partial {
        .painting {
          animation: fadeIn $fadeDuration forwards;
        }
        .description {
          display: none;
        }
      }
      &.full {
        .painting {
          animation: slideLeft $slideDuration forwards;
        }
        .description {
          animation: fadeIn $fadeDuration forwards;
        }
      }
    }
    /* Reverse */
    &.dir-left {
      &.partial {
        .painting {
          animation: slideRight $slideDuration forwards;
        }
        .description {
          animation: fadeOut $fadeDuration forwards;
        }
      }
      &.full {
        .painting {
          transform: translateX(-86%);
          animation: fadeIn $fadeDuration forwards;
        }
        .description {
          animation: fadeIn $fadeDuration forwards;
        }
      }
    }
  }

  .painting {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
  }

  .description {
    position: absolute;
    right: 0;
    height: 100%;
    width: 569px;
    padding: 8% 6%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    color: white;
    background: #134380;

    > h3 {
      font-size: 18px;
      font-weight: black;
      padding: 2% 0;
      align-self: flex-start;
    }
  }

  .artist {
    width: 140px;
    display: block;
    margin-bottom: 10%;
  }

  .flag {
    width: 33px;
    // position:relative;
    // top: 8px;
    margin-right: 1.5em;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-86%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-86%);
  }
  100% {
    transform: translateX(-50%);
  }
}
