@use "icaf-colors" as *;
.nav-wrapper {
  position: fixed;
  top: 0;
  z-index: 10;
  .navbar {
    padding: 21px 40px 20px 47px;
    background: white;
    box-shadow: 0px 6px 4px rgba(198, 198, 198, 0.1);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    line-height: 19px;
    letter-spacing: 0.1em;
    font-weight: 700;
    white-space: nowrap;
    &,
    .dropdown-menu {
      font-size: 14px;
    }

    div {
      padding: 0;
      .logo {
        width: 138px;
        height: 57px;
        div {
          position: relative;
          img {
            width: 138px;
            position: absolute;
            transition: opacity 300ms ease-in-out;
            &.bottom {
              opacity: 0;
              top: 7px;
            }
          }
          &:hover {
            img.bottom {
              opacity: 1;
            }
            img.top {
              opacity: 0;
            }
          }
        }
      }
      #navbarContent {
        margin-left: 120px;
        .navbar-nav {
          column-gap: 7px;
        }
      }
      li.nav-item {
        border-radius: 9px;
        text-transform: uppercase;
        > a {
          padding: 15px 12px;
        }
        a {
          color: black;
          text-decoration: none;
        }
        svg {
          // transform: rotate(0deg);
          transition: transform 300ms;
          margin-top: -2px;
        }

        &:hover {
          background: $ICAF_BLUE;
          transition: background 300ms;
          > a {
            font-weight: 900;
            color: $ICAF_WHITE;
            transition: all 300ms;
          }

          svg {
            transform: rotate(90deg);
            fill: $ICAF_WHITE;
            transition: all 300ms;
          }
        }
        .dropdown-toggle::after {
          display: none;
        }

        .dropdown-menu:not(.programs) {
          padding: 20px 26px 26px 26px;
          border: 0;
          border-radius: 9px;
          > li {
            &:not(:last-child) {
              height: 38px;
            }
            a:hover {
              color: $ICAF_BLUE;
              font-weight: 900;
            }
          }
        }

        .dropdown-menu.programs {
          padding: 20px 63px 26px 38px;
          border: 0;
          border-radius: 9px;
          ul {
            list-style: none;
            padding: 0;
          }
          > ul {
            display: grid;
            row-gap: 20px;
            li {
              display: flex;
              column-gap: 30px;
              &.nav-section1:hover .nav-title {
                color: #7b61ff;
              }
              &.nav-section2:hover .nav-title {
                color: #5faeda;
              }
              &.nav-section3:hover .nav-title {
                color: #42a746;
              }
              .nav-title {
                min-width: 97px;
                text-align: end;
                font-weight: 900;
                color: #b7b7bb;
              }
              ul {
                display: grid;
                row-gap: 20px;
                a:hover {
                  color: $ICAF_BLUE;
                  font-weight: 900;
                }
              }
            }
          }
        }
      }

      li.nav-button {
        &:not(:last-child) {
          margin-right: 6px;
        }
        a.icaf-button {
          div {
            font-size: 14px;
            line-height: 19px;
            height: 50px;
            width: 110px;
            color: black;
            text-transform: uppercase;
          }
          &.alt {
            div {
              background-color: $ICAF_BLUE;
              color: $ICAF_YELLOW;
            }
          }
          &:hover {
            div {
              background-color: $ICAF_BLUE;
              color: $ICAF_WHITE;
              font-weight: 900;
            }
            &.alt div {
              background-color: $ICAF_YELLOW;
              color: $ICAF_BLUE;
              font-weight: 900;
            }
          }
        }
      }
    }
  }

  [data-text="ChildArt MAGAZINE"] {
    text-transform: none;
  }

  /*
    Clever way (see link below) to avoid nav layout shift
    https://css-tricks.com/bold-on-hover-without-the-layout-shift/
  */
  [data-text] {
    display: inline-flex;
    flex-direction: column;
    &::before {
      content: attr(data-text);
      height: 0;
      visibility: hidden;
      font-weight: 900;
    }
    &.dropdown-toggle::before {
      margin-left: 24px;
    }
  }
}
