@use "icaf-colors" as *;
@use "icaf-fonts";

.no-hpad {
  padding-left: 0;
  padding-right: 0;
}

.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-height {
  height: 100%;
}

body > .container {
  max-width: 1440px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 98px; /* For Fixed Nav */
  font-family: "Nunito";
  font-style: normal;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

.icaf-breadcrumb {
  margin-top: 112px;
  margin-left: 190px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #939393;
}

.page-title {
  margin-top: 4px;
  margin-left: 190px;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  color: $ICAF_BLUE;
}

.section-title {
  color: $ICAF_BLUE;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  display: flex;
  justify-content: center;
  text-align: center;
  // padding-top: 38px;
  padding: 35px 0;
}

.section-description {
  color: $ICAF_BLUE;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 48px;
  span {
    width: 830px;
  }
}

a.icaf-button {
  text-decoration: none;
  div {
    background-color: $ICAF_YELLOW;
    color: $ICAF_BLUE;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    span {
      max-width: 130px;
      text-align: center;
    }
  }
}

button.icaf-button {
  background-color: $ICAF_YELLOW;
  color: $ICAF_BLUE;
  border-radius: 37px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  border: 0;
}
