@use "icaf-colors" as *;

footer {
  .footer-top {
    display: grid;
    grid-template-columns: 55.38% auto;
    grid-template-rows: repeat(2, auto);
    gap: 36px 14%;
    padding: 118px 70px 36px;
    color: $ICAF_BLUE;
    font-size: 18px;
    line-height: 25px;
    .icaf-plug {
      max-width: 720px;
      font-size: 24px;
      line-height: 33px;
    }
    .newsletter {
      width: 375px;
      .title {
        font-size: 32px;
        line-height: 44px;
        font-weight: 600;
      }
      p {
        margin: 24px 0 11px;
      }
      #subscribeForm {
        display: flex;
        column-gap: 15px;

        input {
          background: #e7ecf2;
          border-radius: 16px;
          width: 260px;
          height: 56px;
          padding-left: 17px;
          outline: 0;
          border: 0;

          &::placeholder {
            font-size: 18px;
            line-height: 25px;
            // letter-spacing: 0.1em;
            color: $ICAF_GRAY;
          }
        }
        button {
          width: 100px;
          height: 56px;
          font-weight: 900;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 0.1em;
          color: $ICAF_BLUE;
          background: $ICAF_YELLOW;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
            0px 8px 24px rgba(24, 39, 75, 0.08);
          border-radius: 16px;
          border: 0;
        }
      }
      .subscribe-success-feedback {
        font-weight: 700;
        display: none;
      }
    }
    .donate-contact {
      display: flex;
      column-gap: 40px;
      margin-top: 20px;
      row-gap: 35px;
      .icaf-button {
        div {
          width: 200px;
          height: 64px;
          font-size: 14px;
          font-weight: 19px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          font-weight: 900;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
            0px 8px 24px rgba(24, 39, 75, 0.08);
          border-radius: 40px;
          span {
            display: flex;
            align-content: center;
            column-gap: 13px;
            fill: $ICAF_YELLOW;
          }
        }
        &.alt {
          div {
            background-color: $ICAF_BLUE;
            color: $ICAF_YELLOW;
          }
        }
        &:hover {
          div {
            color: $ICAF_WHITE;
          }
          svg {
            fill: #ff065bde;
          }
          &.alt div {
            background-color: $ICAF_YELLOW;
            color: $ICAF_BLUE;
          }
        }
      }
    }
    .follow-us {
      .social-media {
        display: flex;
        column-gap: 8px;
        margin-top: 24px;
        img {
          width: 35px;
          height: 35px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
      }
    }
  }
  .footer-bottom {
    background: url("/resource/image/footer/waves.png") no-repeat bottom;
    background-size: cover;
    color: $ICAF_WHITE;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    column-gap: 7px;
    height: 185px;
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    position: relative;
    p {
      margin: 0px;
    }
    #scrollToTop {
      cursor:pointer;
    }
  }
}

@media (max-width:1358px) {
  footer {
    .footer-top {
      gap: 15px 5%;
      padding:6% 5%;
      grid-template-columns: 50% auto;
      .donate-contact {
        column-gap:8px;
        row-gap:30px;
        margin-top: 0px;
        justify-content:center;
        flex-wrap:wrap;
        .icaf-button {
          div {
            width: 160px;
          }  
        }
      }
      .newsletter {
        width: unset;
        p {
          margin: 10px 0 11px;
        }
        #subscribeForm {
          flex-direction:column;
          row-gap:10px;
        }
      }  
    }
    .footer-bottom {
      align-items:center;
      justify-content:center;
      padding-top:12%;
      margin-bottom:0;
      p {
        margin: 0px;
        max-width:70%;
      }
    }
  }
}
@media (max-width:768px) {
  footer {
    .footer-top {
      grid-template-columns: unset;
      padding:10% 5%;
      gap: 50px 10%;
      .newsletter {
        display:unset;
        align-items:center;
        margin:auto;
        h3, p {
          text-align:center;
        }
        #subscribeForm {
          align-items:center;
          column-gap:10px;
          flex-direction:row;
          flex-wrap: wrap;
        }
      }
      .follow-us {
        text-align:center;
        margin:auto;
        .social-media {
          flex-wrap: wrap;
        }
      }  
    }
    .footer-bottom {
      #scrollToTop {
        scale:1.5;
      }
    }
  }
}
@media (max-width:400px) {
  footer {
    .footer-top {
      .newsletter {
        #subscribeForm {
          flex-direction:column;
        }
      }
      .donate-contact {
        flex-direction:column;
        .icaf-button {
          margin:auto;
        }
      }
      .follow-us {
        .social-media {
          flex-direction:row;
          flex-wrap: wrap;
        }
      }
    }
  }
}
