@use "icaf-colors" as *;

@use "icaf-general";
@use "icaf-nav";
@use "icaf-footer";

.page-title {
  margin-top: 135px;
}

.page-caption {
  margin: 90px auto 0px;
  max-width: 1060px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: $ICAF_BLUE;
}

.two-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  margin: 90px auto 0;
  width: fit-content;

  img {
    width: 505px;
    height: 284px;
    border-radius: 20px;
  }
}

.main-background {
  margin: 135px 0 220px;
  padding: 55px 0 103px;
  background-color: #dae4ea;

  .input-container {
    width: 1060px;
    border-radius: 20px;
    padding: 36px 56px 64px;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.25));
    background-color: $ICAF_WHITE;
    margin: 0 auto;

    .success-feedback {
      display: none;
      color: #117b30;
      font-size: 23px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 10px;
    }

    label {
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #000000;
    }

    input[type="text"],
    input[type="email"] {
      width: 100%;
      height: 37px;
      margin-top: 8px;
      margin-bottom: 21px;
      padding-left: 17px;
      border: 1px solid #c4ced6;
      background-color: rgba(198, 198, 198, 0.1);
      border-radius: 10px;
    }
    textarea {
      width: 100%;
      height: 225px;
      margin-top: 8px;
      margin-bottom: 56px;
      padding-left: 17px;
      border: 1px solid #c4ced6;
      background-color: rgba(198, 198, 198, 0.1);
      border-radius: 10px;
    }

    input[type="submit"] {
      width: 100%;
      height: 49px;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.1em;
      border: none;
      border-radius: 37px;
      background-color: $ICAF_YELLOW;
    }
  }

  .pa {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: $ICAF_BLUE;
    margin-top: 24px;
  }
}
