@use "icaf-colors" as *;
@use "sass:string";
@use "icaf-general";
@use "icaf-nav";
@use "icaf-footer";


.title-section {
  background: url(/resource/image/donate/donate-draft2.png);
  background-size: 100%;
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  height: 745px;
  display: flex;
  column-gap: 193px;
  padding-top: 112px;
  padding-left: 170px;
  color: #ffffff;
  .title-content {
    max-width:100%;
    .donate-breadcrumb {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.1em;
    }
    .donate-title {
      margin-top: 4px;
      font-weight: 800;
      font-size: 40px;
      line-height: 55px;
      color: $ICAF_YELLOW;
    }
    .donate-description {
      margin-top: 81px;
      max-width: 468px;
      font-weight: 700;
      font-size: 36px;
      line-height: 49px;
    }
  }
  .donate-form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    max-width:100%;
    .donate-main {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "a b c d"
        "i i i i";
      gap: 1.2rem 1rem;
      button {
        width: 94px;
        max-width:100%;
        height: 48px;
        border: 1.5px solid #ffffff;
        border-radius: 6px;
        background: transparent;
        color: #fff;
        font-size: 24px;
        line-height: 33px;
        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) {
            grid-area: string.unquote(string.slice("abcd", $i, $i));
          }
        }
        &:hover {
          background: $ICAF_YELLOW;
          color: #000;
          border: none;
        }
      }
      div.custom-amount {
        max-width:100%;
        grid-area: i;
        border: 1.5px solid #ffffff;
        border-radius: 6px;
        color: #fff;
        display: flex;
        .currency {
          font-size: 24px;
          line-height: 33px;
          width: 51px;
          border-right: 1px solid #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        input {
          background: transparent;
          color: #fff;
          height: 100%;
          border: 0;
          outline: 0;
          padding-left: 15px;
          font-size: 18px;
          line-height: 25px;
          &:focus::placeholder {
            color: transparent;
          }
          &::placeholder {
            font-size: 18px;
            line-height: 25px;
            color: $ICAF_GRAY;
          }
          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            display: none;
          }
          -moz-appearance: textfield; /* Firefox */
        }
      }
    }
    button.icaf-button {
      width: 427px;
      max-width:100%;
      height: 50px;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.1em;
      color: black;
      max-width:90%;
    }
    .mail-check {
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      span {
        color: $ICAF_YELLOW;
      }
    }
    .divider {
      background: $ICAF_WHITE;
      height: 1px;
      width: 100%;
    }
    .odm-title {
      font-size: 18px;
      line-height: 25px;
      text-align: center;
    }
    .odm-icons {
      display: flex;
      column-gap: 20px;
      a {
        > div {
          position: relative;
          background: $ICAF_WHITE;
          width: 68px;
          height: 68px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          > img {
            position: absolute;
            // transition: opacity 100ms ease-in-out;
            &.bottom {
              opacity: 0;
            }
          }
          &:hover {
            background: $ICAF_YELLOW;
            img.bottom {
              opacity: 1;
            }
            img.top {
              opacity: 0;
            }
          }
        }
        &[disabled] {
          opacity: 0.2;
          pointer-events: none;
          &:hover > div {
            background: $ICAF_WHITE;
            .bottom {
              opacity: 0;
            }
            .top {
              opacity: 1;
            }
          }
        }
      }
    }
    #edo-donate-btn {
      display: none;
    }
  }
}
.art-lover {
  margin-top: 86px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: $ICAF_GRAY;
  a {
    color: $ICAF_YELLOW;
  }
}
.wave1 {
  margin-top: 60px;
  height: 60.22px;
}
.five-fact-section {
  width: 100%;
  background-color: rgba(19, 67, 128, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  .five-fact {
    width:85%;
    margin:3%;
    .card-container {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(9, 9rem);
    }
    .card {
      justify-content:space-evenly;
      padding:0 5% 0;
    }
    .card-1 {
      grid-row: 1/4;
      grid-column: 2;
    }
    .card-2 {
      grid-row: 2/5;
      grid-column: 1;
    }
    .card-3 {
      grid-row: 4/7;
      grid-column: 2;
    }
    .card-4 {
      grid-row: 5/10;
      grid-column: 1;
    }
    .card-5 {
      grid-row: 7/10;
      grid-column: 2;
    }
    .title-card {
      width: 100%;
      height: 100%;
      background: #134380;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      display: flex;
      grid-row: 1 / 2;
      .title-container {
        display:flex;
        width:100%;
        justify-content:center;
        align-items:center;
        gap:2rem;
        .number-container {
          display: flex;
          justify-content: center;
          align-items: center;
          .number {
            font-style: italic;
            font-weight: 900;
            font-size: 80px;
            line-height: 109px;
            text-align: center;
            color: $ICAF_YELLOW;
            transform: rotate(11.57deg);
          }
        }
        .fact-title {
          font-weight: 700;
          font-size: 36px;
          line-height: 49px;
          text-align: center;
          color: $ICAF_YELLOW;
        }
      }
    }
    .card {
      width: 100%;
      height: 100%;
      background: #ffffff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .card-number {
        font-weight: 800;
        font-size: 40px;
        line-height: 55px;
        color: $ICAF_YELLOW;
        margin:unset;
      }
      .card-words {
        margin-top: 5px;
        max-width: 512px;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.8rem;
        color: $ICAF_GRAY;
        a {
          color: $ICAF_BLUE;
        }
      }
    }
  }
  .candid {
    display: flex;
    align-items: center;

    img {
      width: 80px;
      height: 80px;
    }
    .designated {
      margin-left: 76px;
      max-width: 600px;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: $ICAF_GRAY;
    }
  }
}
.theory-of-change {
  margin: 50px auto 0;
  max-width: 301px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: $ICAF_BLUE;
}
.theory-of-change-video {
  position: relative;
  margin:3% auto 0;;
  width: 706px; 
  height: 510px;
  border-radius: 20px;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}
.quote-wrapper {
  position: absolute;
  letter-spacing: 0.1em;
  color: $ICAF_BLUE;
  .quote {
    font-size: 25px;
    line-height: 34px;
    letter-spacing: 0.1em;
    // &::before {
    //   content: "“";
    //   position: absolute;
    //   left: -13px;
    // }
    // &::after {
    //   content: "”";
    // }
  }
  .signature {
    margin-top: 47px;
  }
  .title {
    margin-top: 6px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
}
.quote-card {
  .quote-container {
    .title {
      max-width:100%;
      overflow:hidden;      
    }
  }
}
.testimonial-wrapper {
  display:grid;
  padding:5% 0 5%;
  max-width:100%;
  
  .quote-card {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    max-width:100%;
    height:551px;
    .advocate-img {
      object-fit:cover;
      height:100%;
      max-width:100%;
      grid-column:1/3;
      grid-row: 1;
      overflow:hidden;
    }
    .quote-container {
      grid-column:1/1;
      grid-row: 1;
      padding:8rem 7rem 0;
      .quote-text {
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.1em;    
        color:$ICAF_WHITE;
        margin-bottom:4rem;
      }
    }
  }
  .hillary-quote-card {
    background-color: black;
    grid-template-columns: 2fr 1fr;
    .hillary-img {
      object-position:right;
    }
  }
  .gen-cosumano-quote-card {
    background-color: #f4f2f3;
    grid-template-columns: 1fr 1.65fr;
    .gen-cosumano-quote-container {
      grid-column: 2;
      .quote-text {
        color: $ICAF_BLUE;
      }
    }
  }
  .vice-admiral-quote-card {
    grid-template-columns: 2fr 1fr;
    .vice-admiral-img {
      object-position:right;
    }
    .vice-admiral-quote-container {
      .quote-text {
        color: $ICAF_BLUE;
      }
    }
  }
}
.wave {
  overflow:hidden;
}
@media (max-width:1358px) {
  .title-section {
    padding:5%;
    column-gap: 5%;
    .donate-form {
      justify-content:space-around;
    }
  }
  .five-fact-section {
    .five-fact {
      width:95%;
      .card-container {
        grid-template-rows:repeat(9, 10rem);
      }
    }
  }
}
@media (max-width:1200px) {
  .testimonial-wrapper {
    .gen-cosumano-quote-card {
      .quote-container {
        .title {
          width:60%;
          float:right;
        }  
      }
      .gen-cosumano-quote-container {
        padding:3rem 0 0;
        text-align:right;
        margin-right:5%;
        .quote-text {
          width:70%;
          float:right;
        }
      }    
    }
    .hillary-quote-card {
      .hillary-quote-container {
        padding: 3rem 3rem 0;
      }
    }
    .vice-admiral-quote-card {
      .quote-container {
        .title {
          width:60%;
          float:left;
        }  
      }
      .vice-admiral-quote-container {
        padding: 3rem 3rem 0;
        .quote-text {
          width:80%;
        }  
      }
    }
    .quote-card {
      .quote-container {
        .quote-text {
          margin-bottom:2rem;
        }
      }
    }
  }
}
@media (max-width:1100px) {
  .five-fact-section {
    .five-fact {
      .card-container {
        .card {
          .card-words {
            font-size:1.7rem;
            line-height:2.6rem;
          }
        }
      }
    }
  }
  .title-section {
    .title-content {
      .donate-description {
        font-size: 1.9rem;
        line-height:2.6rem;
      }
    }
  }
}
@media (max-width:930px) {
  .testimonial-wrapper {
    .hillary-quote-card {
      grid-template-columns: 1.3fr 1fr;
      .hillary-quote-container {
        padding: 3rem 1rem 0;
        .quote-text {
          margin-bottom:1rem;
        }
      }
    }
    .gen-cosumano-quote-card {
      grid-template-columns: 1fr 1fr;
      .gen-cosumano-img {
        grid-column: 1/2;
      }
      .gen-cosumano-quote-container {
        .quote-text {
          width:100%;
        }
        .title {
          width:100%;
        }
      }
    }
    .vice-admiral-quote-card {
      background-color: #d5c7ac;
      grid-template-columns: 1fr 1.5fr;
      .vice-admiral-img {
        grid-column: 2/3;
      }
      .vice-admiral-quote-container {
        padding: 3rem 1rem 0;
      }
    }
  }
}
@media (max-width:768px) {
  .title-section {
    padding: 0;
    max-width:100%;
    flex-direction:column;
    background: unset;
    background-color: $ICAF_BLUE;
    height:auto;
    .title-content {
      background-image: url(/resource/image/donate/donate-mobile-upper.png);
      background-repeat:no-repeat;
      background-size: cover;
      background-position:top;    
      padding:5%;
      border-bottom: 1px solid white;
      .donate-description {
        max-width:100%;
        margin-right:unset;
        font-size:2.2rem;
        font-weight:700;
        line-height:3.2rem;
      }
    }
    .donate-form {
      margin-bottom:3rem;
      .donate-main {
        button {
          width:unset;
        }
      }
      .divider {
        width:80%;
      }
    }
  }
  .five-fact-section {
    .five-fact {
      .card-container {
        grid-template-rows:unset;
        grid-template-columns:unset;
        .title-card {
          .title-container {
            .number-container {
              .number {
                margin:1rem;
              }
            }
          }
        }
        .card {
          grid-row:unset;
          grid-column:unset;
          .card-words {
            font-size:1.6rem;
            line-height:2.2rem;
          }
          .card-number {
            margin:5%;
          }
          .card-words {
            margin:0 auto 8%;
          }
        }
      }
    }
    .candid {
      margin:5%;
      .designated {
        margin-left:unset;
      }
    }
  }
  .theory-of-change-video {
    position: relative;
    width: 100%; 
    height: 0;
    margin:5% auto 5%;
    padding-top: 56.25%; 
    border-radius: 20px;
    overflow: hidden;
    max-width:800px;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }
  .testimonial-wrapper {
    grid-template-columns: 1fr;
    height: unset;
    .quote-card {
      grid-template-rows: unset;
      grid-template-columns: 1fr;
      height:auto;
      // grid-template-rows: 1fr 1fr;

      .advocate-img {
        grid-column: unset;
        grid-row: unset;
        height:50vh;
        max-height:500px;
      }
      .quote-container {
        grid-column: unset;
        grid-row: unset;
        padding: 5% 2% 5%;
      }
      .quote-container {
        margin:unset;
        .signature {
          max-width:95%;
        }
        .title {
          width:100%;
        }
      }
    }
    .gen-cosumano-quote-card {
      background-color: #f4f2f3;
    }
    .vice-admiral-quote-card {
      background-color: #d5c7ac;
      .vice-admiral-quote-container {
        .quote-text {
          width:100%;
        }
      }
    }
  }
}
@media (max-width:350px) {
  .title-section {
    .donate-form {
      .donate-main {
        gap: unset;
      }
    }
  }
}
