@use "icaf-colors" as *;

@use "icaf-general";
@use "icaf-nav";
@use "icaf-footer";

.title-section {
  background: url(/resource/image/gallery/Title\ Art.png);
  background-size: 100%;
  height: 710px;
  padding-top: 112px;
  padding-left: 190px;

  .gallery-breadcrumb {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: $ICAF_WHITE;
  }

  .gallery-title {
    margin-top: 4px;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    color: $ICAF_YELLOW;
  }

  .ai-quote {
    position: relative;
    max-width: 652px;
    margin-top: 90px;
    fill: $ICAF_YELLOW;
    color: $ICAF_YELLOW;
    .quote-text {
      font-size: 40px;
      line-height: 55px;
      margin-top: 20px;
      font-style: italic;
    }
    .lower-right {
      position: absolute;
      right: 0;
      text-align: right;
      .quote-name {
        margin-top: 24px;
        font-weight: 700;
        font-size: 36px;
        line-height: 49px;
      }
    }
  }
}

.imagination {
  margin-top: 125px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $ICAF_BLUE;
}

.search-section {
  margin-top: 60px;
  width: 1224px;
}

.gallery-grid {
  margin: 48px 106px 81px 106px;
  display: flex;
  flex-wrap: wrap;
  gap: 58px;
  .card {
      width: 370px;
      height: 485px;
    img {
      width: 370px;
      height: 370px;
    }
    .card-info {
      font-size: 18px;
      font-weight: 400;
      margin: auto;
      color: $ICAF_BLUE;
    }
  }
}

.pagination {
  margin: 81px 230px 220px 230px;
  justify-content: center;
  li {
    margin: 30px;
  }
  .pagination-link {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    color: $ICAF_GRAY;
  }
  .current-page .pagination-link{
    width: 45px;
    display: inline-block;
    text-align: center;
  }
  .active .pagination-link{
    background-color: $ICAF_YELLOW;
    color: #000000;
  }
  .previous-page button, .next-page button {
    background: none;
    border: none;
  }
  .previous-page {
    margin-right: 183px;
  }
  .next-page {
    margin-left: 183px;
  }
  .first-page > button, .last-page > button {
    background: none;
    border: none;
    span{
      display:flex;
      padding-right: 40px;
      & > iconify-icon{
        width: 15px;
      }
  }}
}
