.no-hpad {
    padding-left: 0;
    padding-right: 0;
}

.flex-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-height {
    height: 100%;
}

body>.container {
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Nunito';
    font-style: normal;
}

.section-title {
    color: #134380;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 14px 0;
}

.section-description {
    color: #134380;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 65px;
}

#whatWeDo {
    width: 1290px;
    margin: 0 auto;
    .description {
        width: 800px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 60px;
        li {
            float: left;
            position: relative;
            &:not(:last-child) {
                margin-right: 30px;
            }
            .card-img {
                width: 300px;
                height: 475px;
                border-radius: 9px;
            }
            .card-link-wrapper {
                position: absolute;
                left: calc(50% - 90px);
                top: 80%;
                a {
                    &:hover {
                        text-decoration: none;
                    }
                    div {
                        width: 180px;
                        height: 67px;
                        background: #FFD743;
                        border-radius: 37px;
                        span {
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 22px;
                            color: #134380;
                            max-width: 130px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}