@use "sass:math";

@use "./_icaf-carousel.scss";

$ICAF_BLUE: #134380;
$ICAF_YELLOW: #ffd743;
$ICAF_WHITE: #ffffff;
$ICAF_GRAY: #586b83;

/* General */

.no-hpad {
  padding-left: 0;
  padding-right: 0;
}

.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-height {
  height: 100%;
}

body > .container {
  max-width: 1440px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Nunito";
  font-style: normal;
}

.section-title {
  color: $ICAF_BLUE;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 14px 0;
}

.section-description {
  color: $ICAF_BLUE;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 65px;
  span {
    width: 800px;
  }
}

/* Cross-Fade */
.cross-fade {
  position: relative;
  > img,
  > div {
    position: absolute;
    animation-iteration-count: infinite;
  }
}

/* These animations, each meant for two elements, will fade-in after half the time (1s for the fade) */
$welcomeCrossFadeDuration: 10s;
@keyframes welcome-fade {
  0% {
    opacity: 0;
  }
  // 50 - 100 * (1/10)
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  // 100 - 100 * (1/10)
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

$muralCrossFadeDuration: 6s;
@keyframes mural-fade {
  0% {
    opacity: 0;
  }
  // 50 - 100 * (1/6)
  34% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  // 100 - 100 * (1/6)
  84% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Section Specific */

.welcome {
  width: 1358px;
  margin: 0 auto;
  margin-top: 147px;

  ul {
    list-style-type: none;
    padding: 0;
    li {
      float: left;
      &:not(:last-child) {
        margin-right: 20px;
      }
      img {
        border-radius: 9px;
      }
      /* Cross fade timing */
      &.cf-group1 {
        > img,
        > div {
          animation-name: welcome-fade;
          animation-duration: $welcomeCrossFadeDuration;
          &:nth-child(1) {
            animation-delay: (-1 * math.div($welcomeCrossFadeDuration, 2));
          }
        }
      }
      &.cf-group2 {
        > img,
        > div {
          animation-name: welcome-fade;
          animation-duration: $welcomeCrossFadeDuration;
          &:nth-child(1) {
            animation-delay: (-3 * math.div($welcomeCrossFadeDuration, 4));
          }
          &:nth-child(2) {
            animation-delay: (-1 * math.div($welcomeCrossFadeDuration, 4));
          }
        }
      }
    }
  }
  .upper {
    margin-bottom: 30px;
    .welcome-box {
      width: 341px;
      height: 285px;
      background: $ICAF_BLUE;
      border-radius: 9px;
      p:first-of-type {
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
        color: $ICAF_YELLOW;
        text-transform: uppercase;
      }
      p:last-of-type {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: $ICAF_WHITE;
      }
      .main-welcome {
        padding: 28px 39px 0px 44px;
      }
      .alt-welcome {
        padding: 28px 32px 24px 44px;
        p:last-of-type {
          font-size: 20px;
          line-height: 27px;
        }
        a {
          position: absolute;
          right: 45px;
          bottom: 0;
          &:hover {
            text-decoration: none;
          }
          div {
            width: 133px;
            height: 46px;
            background: $ICAF_YELLOW;
            border-radius: 37px;
            span {
              font-weight: 700;
              font-size: 14px;
              line-height: 19px;
              letter-spacing: 0.1em;
              color: $ICAF_BLUE;
              // max-width: 130px;
              text-align: center;
            }
          }
        }
      }
    }
    .img1 {
      width: 351px;
      height: 285px;
    }
    .img2 {
      width: 339px;
      height: 285px;
    }
    .img3 {
      width: 267px;
      height: 285px;
    }
  }
  .lower {
    .img4 {
      width: 341px;
      height: 405px;
    }
    .img5 {
      width: 563px;
      height: 405px;
    }
    .img6 {
      width: 414px;
      height: 405px;
    }
  }
}

.mural-wrapper {
  width: 1358px;
  margin: 29px auto 68px;

  .murals {
    &,
    img {
      width: 844px;
      height: 618px;
    }
    img {
      border-radius: 9px 0px 0px 9px;
      animation-name: mural-fade;
      animation-duration: $muralCrossFadeDuration;
      &:nth-child(1) {
        animation-delay: (-1 * math.div($muralCrossFadeDuration, 2));
      }
    }
  }
  .mural-text {
    width: 514px;
    background-color: $ICAF_BLUE;
    color: $ICAF_WHITE;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 9px 9px 0px;
    .mural-title {
      color: $ICAF_YELLOW;
      margin-top: 45px;
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      max-width: 415px;
    }
    ul {
      margin: 42px 0;
      font-size: 18px;
      line-height: 25px;
      max-width: 446px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    span {
      text-align: center;
    }
  }
}

#videoContainer {
  display: flex;
  justify-content: center;
  position: relative;
  video {
    width: 100%;
  }
  #volumeControl {
    z-index: 10;
    position: absolute;
    bottom: 8%;
    right: 5%;
    display: none;
    img {
      width: 45px;
      &:first-of-type {
        display: none;
      }
    }
  }
}

#whatWeDo {
  width: 1290px;
  margin: 0 auto;
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 60px;
    li {
      float: left;
      position: relative;
      &:not(:last-child) {
        margin-right: 30px;
      }
      .card-img {
        width: 300px;
        height: 475px;
        border-radius: 9px;
      }
      .card-link-wrapper {
        position: absolute;
        left: calc(50% - 90px);
        top: 80%;
        a {
          &:hover {
            text-decoration: none;
          }
          div {
            width: 180px;
            height: 67px;
            background: $ICAF_YELLOW;
            border-radius: 37px;
            span {
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              color: $ICAF_BLUE;
              max-width: 130px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: $ICAF_BLUE;
  color: $ICAF_WHITE;
  .icaf-plug {
    padding-top: 40px;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
  }
  .crypto-wrapper {
    margin-left: 30px;
    margin-top: 35px;
    margin-bottom: 31px;
  }
  .newsletter {
    text-align: end;
    margin-top: 28px;
    margin-right: 23px;
    .sign-up {
      font-size: 18px;
      line-height: 25px;
    }
    .email-input {
      margin-top: 22px;
      input {
        border-radius: 9px 0px 0px 9px;
        width: 380px;
        height: 37px;
      }
      button {
        font-weight: 700;
        font-size: 12px;
        color: $ICAF_BLUE;
        background: $ICAF_YELLOW;
        border-radius: 0px 9px 9px 0px;
        width: 56px;
        height: 37px;
        margin-left: -5px;
      }
    }
  }
  .footer-bottom {
    height: 66px;
    padding-left: 30px;
    padding-right: 23px;
    .deets {
      text-align: end;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      margin-top: 5px;
      a {
        color: inherit;
      }
    }
    .copyright {
      text-align: end;
      font-size: 12px;
      line-height: 16px;
      margin-top: 15px;
    }
    *:not(.social-media) {
      span ~ span::before,
      span ~ a::before,
      a ~ a::before {
        content: "|";
        margin-left: 0.5em;
        margin-right: 0.7em;
      }
    }
  }
}
