@use "icaf-colors" as *;

@use "icaf-general";
@use "icaf-nav";
@use "icaf-footer";

.page-title {
  margin-top: 135px;
}
.top-right-image-wrapper {
  position: relative;
  width: 1060px;
  margin: 0 auto;
  img {
    position: absolute;
    right: 0;
    bottom: -5px;
  }
}
.list-of-news {
  width: 1060px;
  margin: 60px auto 220px;
  max-width:100%;
  font-size: 24px;
  line-height: 33px;
  ul {
    padding-left: 2rem;
    li {
      margin-top: 20px;
    }
    a {
      color: #000000;
    }
  }
}
@media (max-width:1358px) {
  .top-right-image-wrapper {
    bottom:unset;
    width:unset;
  }
  .list-of-news {
    margin-bottom:7rem;
  }
}