@use "../icaf-colors" as *;

@use "../icaf-general";
@use "../icaf-nav";
@use "../icaf-footer";

.description {
  width: 920px;
  margin: 90px auto 125px;
  display: flex;

  img {
    width: 920px;
    height: 513.33px;
    border-radius: 20px;
  }

  div {
    position: absolute;
  }

  .climate-change {
    width: 507.26px;
    height: 296.55px;
    margin-top: 145.54px;
    background: $ICAF_YELLOW;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      max-width: 430.95px;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: $ICAF_BLUE;
    }
  }

  .name {
    margin-top: 475.18px;
    margin-left: 502.05px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
  }
}

.sections {
  margin: 0 auto;
  max-width: 1060px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

.imgs {
  display: flex;
  column-gap: 24px;
  width: fit-content;
  margin: 40px auto 60px;

  .img1 {
    width: 387.43px;
    height: 264.86px;
  }

  .img2 {
    width: 384.86px;
    height: 264.86px;
  }

  .img3 {
    width: 234.86px;
    height: 264.86px;
  }
}

.videos {
  width: fit-content;
  margin: 60px auto 125px;
  display: flex;
  column-gap: 50px;

  iframe {
    width: 505px;
    height: 284px;
    border-radius: 20px;
  }
}

.email {
  width: 1440px;
  height: 309px;
  background: rgba(19, 67, 128, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: $ICAF_BLUE;
    margin-bottom: 13.62px;
  }

  img {
    width: 54px;
    height: 39px;
  }

  a {
    margin-top: 20.63px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-decoration-line: underline;
    color: $ICAF_BLUE;
  }
}
