@use "../icaf-colors" as *;

@use "../icaf-general";
@use "../icaf-nav";
@use "../icaf-footer";

.tag {
    margin-top: 80px;
    margin-left: 190px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #939393;
}
.title {
    margin-top: 4px;
    margin-left: 190px;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    color: $ICAF_BLUE;
}
.mural-making-image {
    margin-left: 284px;
    margin-top: 90px;
    img {
        width: 879px;
        height: 494px;
        border-radius: 20px;
    }
}
.about {
    width: 334px;
    height: 49px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-top: 109px;
    margin-left: 191px;
    color: $ICAF_BLUE;
}
.about-text {
    width: 1060px;
    height: 442px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    margin-top: 45px;
    margin-left: 191px;
    color: #000000;
}
.imgs {
    display: grid;
    grid-template-columns: 344px 340px 342px;
    grid-gap: 18px 20px;
    grid-template-rows: 264.86px;
    margin-top: 120px;
    margin-left: 190px;
    
    .img1 {
      width: 344px;
      height: 257px;
    }
  
    .img2 {
      width: 340px;
      height: 257px;
    }
  
    .img3 {
      width: 342px;
      height: 257px;
    }

    .program-description {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: $ICAF_GRAY;
        margin-left: 24px;
        height: 24px;
    }
  }

.program-gallery {
    width: 278px;
    height: 49px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-left: 190px;
    margin-top: 86px;
    color: $ICAF_BLUE;
}
.program-gallery-top {
    width: 1464px;
    height: 60px;
    margin-top: 35px;
}
.program-gallery-main {
    width: 1440px;
    height: 1528px;
    background-color: rgba(19, 67, 128, 0.1);
    .first-program {
        font-weight: 600;
        font-size: 32px;
        padding-top: 49px;
        line-height: 44px;
        text-align: center;
        color: $ICAF_BLUE;
    }
    .first-underline {
        width: 251px;
        height: 5px;
        margin: 0 auto;
        background-color: $ICAF_YELLOW;
    }
    video {
        width: 808px;
        height: 604px;
        padding-top: 50px;
        margin-left: 350px;
    }
    .second-program {
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        padding-top: 70px;
        text-align: center;
        color: $ICAF_BLUE;
    }
    .second-underline {
        width: 190px;
        height: 5px;
        margin: 0 auto;
        background-color: $ICAF_YELLOW;
    }
    .swiper {
        margin-top: 50px;
        width: 1440px;
        height: 542px;
        .swiper-slide {
          width: 719px;
          &:nth-child(3n) {
            width: 392px;
          }
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .swiper-navBtn {
          height: 64px;
          width: 64px;
          margin-top: 40px;
          color: $ICAF_WHITE;
          background-color: $ICAF_BLUE;
          border-radius: 50%;
          transition: color 0.3s ease;
        }
        .swiper-navBtn:hover{
          color: $ICAF_WHITE;
        }
        .swiper-navBtn::before,
        .swiper-navBtn::after{
          font-size: 30px;
        }
        .swiper-button-next{
          margin-right: 100px;
          align-items: center;
        }
        .swiper-button-prev{
          margin-left: 100px;
          align-items: center;
        }
    }
    .swiper-pagination {
      position: relative;
      margin-top: 33px;
      .swiper-pagination-bullet{
          width: 11px;
          height: 11px;
          margin: 10px;
          background-color: $ICAF_GRAY;
          opacity: 0.2;
        }
        .swiper-pagination-bullet-active{
          background-color: $ICAF_YELLOW;
          opacity: 1;
        }
        @media screen and (max-width: 768px) {
          .slide-content{
            margin: 0 10px;
          }
          .swiper-navBtn{
            display: none;
          }
        }
    }   
}

.hm-title {
    width: 292px;
    height: 49px;
    margin-left: 190px;
    margin-top: 85.78px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: $ICAF_BLUE;
}
.hm-content {
    width: 1060px;
    height: 165px;
    margin-left: 190px;
    margin-top: 19px;
    margin-bottom: 85px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    a {
        font-weight: 400;
        font-size: 18px;
        line-height: 24.55px;
        color: $ICAF_BLUE;
    }
}
