/* Load all possible font-weights for Nunito */
@font-face {
  font-family: "Nunito";
  font-weight: 100;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Nunito";
  font-weight: 100;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Nunito";
  font-weight: 200;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Nunito";
  font-weight: 200;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Nunito";
  font-weight: 300;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Nunito";
  font-weight: 300;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Nunito";
  font-weight: 500;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Nunito";
  font-weight: 500;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Nunito";
  font-weight: 600;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Nunito";
  font-weight: 600;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Nunito";
  font-weight: 800;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Nunito";
  font-weight: 800;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Nunito";
  font-weight: 900;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Nunito";
  font-weight: 900;
  font-display: swap;
  src: url(/resource/fonts/Nunito_latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
.no-hpad {
  padding-left: 0;
  padding-right: 0;
}

.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-height {
  height: 100%;
}

body > .container {
  max-width: 1440px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 100px; /* For Fixed Nav */
  font-family: "Nunito";
  font-style: normal;
}

.section-title {
  color: #134380;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 35px 0;
}

.section-description {
  color: #134380;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 65px;
}
.section-description span {
  width: 830px;
}

a.icaf-button {
  text-decoration: none;
}
a.icaf-button div {
  background-color: #ffd743;
  color: #134380;
  border-radius: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
a.icaf-button div span {
  max-width: 130px;
  text-align: center;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  z-index: 10;
  /*
    Clever way (see link below) to avoid nav layout shift
    https://css-tricks.com/bold-on-hover-without-the-layout-shift/
  */
}
.nav-wrapper .navbar {
  padding: 21px 40px 20px 47px;
  background: white;
  box-shadow: 0px 6px 4px rgba(198, 198, 198, 0.1);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  line-height: 19px;
  letter-spacing: 0.1em;
  font-weight: 700;
  white-space: nowrap;
}
.nav-wrapper .navbar,
.nav-wrapper .navbar .dropdown-menu {
  font-size: 14px;
}
.nav-wrapper .navbar div {
  padding: 0;
}
.nav-wrapper .navbar div .logo {
  width: 138px;
  height: 57px;
}
.nav-wrapper .navbar div .logo div {
  position: relative;
}
.nav-wrapper .navbar div .logo div img {
  width: 138px;
  position: absolute;
  transition: opacity 300ms ease-in-out;
}
.nav-wrapper .navbar div .logo div img.bottom {
  opacity: 0;
  top: 7px;
}
.nav-wrapper .navbar div .logo div:hover img.bottom {
  opacity: 1;
}
.nav-wrapper .navbar div .logo div:hover img.top {
  opacity: 0;
}
.nav-wrapper .navbar div #navbarContent {
  margin-left: 120px;
}
.nav-wrapper .navbar div #navbarContent .navbar-nav {
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.nav-wrapper .navbar div li.nav-item {
  border-radius: 9px;
  text-transform: uppercase;
}
.nav-wrapper .navbar div li.nav-item > a {
  padding: 15px 12px;
}
.nav-wrapper .navbar div li.nav-item a {
  color: black;
  text-decoration: none;
}
.nav-wrapper .navbar div li.nav-item svg {
  transition: transform 300ms;
  margin-top: -2px;
}
.nav-wrapper .navbar div li.nav-item:hover {
  background: #134380;
  transition: background 300ms;
}
.nav-wrapper .navbar div li.nav-item:hover > a {
  font-weight: 900;
  color: #ffffff;
  transition: all 300ms;
}
.nav-wrapper .navbar div li.nav-item:hover svg {
  transform: rotate(90deg);
  fill: #ffffff;
  transition: all 300ms;
}
.nav-wrapper .navbar div li.nav-item .dropdown-toggle::after {
  display: none;
}
.nav-wrapper .navbar div li.nav-item .dropdown-menu:not(.programs) {
  padding: 20px 26px 26px 26px;
  border: 0;
  border-radius: 9px;
}
.nav-wrapper .navbar div li.nav-item .dropdown-menu:not(.programs) > li:not(:last-child) {
  height: 38px;
}
.nav-wrapper .navbar div li.nav-item .dropdown-menu:not(.programs) > li a:hover {
  color: #134380;
  font-weight: 900;
}
.nav-wrapper .navbar div li.nav-item .dropdown-menu.programs {
  padding: 20px 63px 26px 38px;
  border: 0;
  border-radius: 9px;
}
.nav-wrapper .navbar div li.nav-item .dropdown-menu.programs ul {
  list-style: none;
  padding: 0;
}
.nav-wrapper .navbar div li.nav-item .dropdown-menu.programs > ul {
  display: grid;
  row-gap: 20px;
}
.nav-wrapper .navbar div li.nav-item .dropdown-menu.programs > ul li {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.nav-wrapper .navbar div li.nav-item .dropdown-menu.programs > ul li.nav-section1:hover .nav-title {
  color: #7b61ff;
}
.nav-wrapper .navbar div li.nav-item .dropdown-menu.programs > ul li.nav-section2:hover .nav-title {
  color: #5faeda;
}
.nav-wrapper .navbar div li.nav-item .dropdown-menu.programs > ul li.nav-section3:hover .nav-title {
  color: #42a746;
}
.nav-wrapper .navbar div li.nav-item .dropdown-menu.programs > ul li .nav-title {
  min-width: 97px;
  text-align: end;
  font-weight: 900;
  color: #b7b7bb;
}
.nav-wrapper .navbar div li.nav-item .dropdown-menu.programs > ul li ul {
  display: grid;
  row-gap: 20px;
}
.nav-wrapper .navbar div li.nav-item .dropdown-menu.programs > ul li ul a:hover {
  color: #134380;
  font-weight: 900;
}
.nav-wrapper .navbar div li.nav-button:not(:last-child) {
  margin-right: 6px;
}
.nav-wrapper .navbar div li.nav-button a.icaf-button div {
  font-size: 14px;
  line-height: 19px;
  height: 50px;
  width: 110px;
  color: black;
  text-transform: uppercase;
}
.nav-wrapper .navbar div li.nav-button a.icaf-button.alt div {
  background-color: #134380;
  color: #ffd743;
}
.nav-wrapper .navbar div li.nav-button a.icaf-button:hover div {
  background-color: #134380;
  color: #ffffff;
  font-weight: 900;
}
.nav-wrapper .navbar div li.nav-button a.icaf-button:hover.alt div {
  background-color: #ffd743;
  color: #134380;
  font-weight: 900;
}
.nav-wrapper [data-text="ChildArt MAGAZINE"] {
  text-transform: none;
}
.nav-wrapper [data-text] {
  display: inline-flex;
  flex-direction: column;
}
.nav-wrapper [data-text]::before {
  content: attr(data-text);
  height: 0;
  visibility: hidden;
  font-weight: 900;
}
.nav-wrapper [data-text].dropdown-toggle::before {
  margin-left: 24px;
}

footer {
  background-color: #134380;
  color: #ffffff;
}
footer .icaf-plug {
  padding-top: 25px;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
footer .icaf-plug a {
  color: inherit;
  text-decoration: none;
}
footer .footer-middle {
  margin-top: 30px;
  margin-bottom: 22px;
  padding-left: 30px;
  padding-right: 23px;
  align-items: center;
}
footer .footer-middle .donate-wrapper div {
  width: 176px;
  height: 48px;
}
footer .footer-middle .donate-wrapper div:hover span {
  color: #ffffff;
}
footer .footer-middle .newsletter {
  padding-top: 14px;
  text-align: end;
}
footer .footer-middle .newsletter .sign-up {
  font-size: 18px;
  line-height: 25px;
  margin-right: 15px;
}
footer .footer-middle .newsletter .email-input {
  margin-top: 22px;
}
footer .footer-middle .newsletter .email-input input {
  border-radius: 9px 0px 0px 9px;
  width: 304px;
  height: 37px;
}
footer .footer-middle .newsletter .email-input button {
  font-weight: 700;
  font-size: 12px;
  color: #134380;
  background: #ffd743;
  border-radius: 0px 9px 9px 0px;
  width: 56px;
  height: 37px;
  margin-left: -5px;
}
footer .footer-bottom {
  height: 66px;
  padding-left: 30px;
  padding-right: 23px;
}
footer .footer-bottom a {
  color: inherit;
}
footer .footer-bottom .deets {
  text-align: end;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-top: 5px;
}
footer .footer-bottom .copyright {
  text-align: end;
  font-size: 12px;
  line-height: 16px;
  margin-top: 5px;
}
footer .footer-bottom .social-media img {
  width: 40px;
  height: 40px;
}
footer .footer-bottom *:not(.social-media) span ~ span::before,
footer .footer-bottom *:not(.social-media) span ~ a::before,
footer .footer-bottom *:not(.social-media) a ~ a::before {
  content: "|";
  margin-left: 0.5em;
  margin-right: 0.7em;
}/*# sourceMappingURL=healing-arts-program.css.map */