@use "../icaf-colors" as *;

@use "../icaf-general";
@use "../icaf-nav";
@use "../icaf-footer";

a {
  max-width:100%;
  word-wrap: break-word;
}
.goal-description {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: $ICAF_BLUE;

  &-top {
    width: 1060px;
    max-width:100%;
    margin: 90px auto 0px;
    text-align: left;
  }

  &-WCF {
    margin: 43px auto 0px;
    text-align: center;
  }

  &-past-WCF {
    margin-top: 17px;
  }
}
// multiple sections have same style as underline and content, so put here
.info-underline {
  height: 5px;
  width: 32px;
  background-color: $ICAF_YELLOW;

  &-7th-WCF {
    margin: 60px auto 0px;
  }
}
.info-content {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;

  &-schedule {
    margin-top: 5px;
  }

  &-WCF {
    text-align: center;
    margin-top: 24px;
    color: $ICAF_GRAY;

    a {
      color: $ICAF_BLUE;
      text-decoration: none;
    }
  }
}
.swiper {
  margin-top: 104px;
  width: 1440px;
  height: 689px;
  .swiper-slide {
    width: 726px;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .swiper-navBtn {
    height: 64px;
    width: 64px;
    margin-top: 40px;
    color: $ICAF_WHITE;
    background-color: $ICAF_BLUE;
    border-radius: 50%;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover {
    color: $ICAF_WHITE;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after {
    font-size: 30px;
  }
  .swiper-button-next {
    margin-right: 100px;
    align-items: center;
  }
  .swiper-button-prev {
    margin-left: 100px;
    align-items: center;
  }
}
.swiper-pagination {
  position: relative;
  margin-top: 33px;
  .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    margin: 10px;
    background-color: $ICAF_GRAY;
    opacity: 0.2;
  }
  .swiper-pagination-bullet-active {
    background-color: $ICAF_YELLOW;
    opacity: 1;
  }
  @media screen and (max-width: 768px) {
    .slide-content {
      margin: 0 10px;
    }
    .swiper-navBtn {
      display: none;
    }
  }
}
.WCF-7th {
  padding:3%;
}
.schedule-info {
  width: 1055px;
  max-width:100%;
  display: grid;
  margin: 157px auto 0px;
  grid-template-columns: 460px 445px;
  column-gap: 150px;

  .info-title {
    font-weight: 600;
    margin-top: 23px;
    font-size: 32px;
    line-height: 44px;
    color: $ICAF_BLUE;
  }
}
.schedule-main {
  margin-top: 60px;
  .wave-container {
    overflow:hidden;
  }
  .top-wave {
    margin-bottom:-1%;
  }
  .bottom-wave {
    margin-top: -1%;
  }
  .schedule-section {
    margin: auto;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 51px;
    background-color: #f1f1f1;
    justify-content:center;

    .day-container {
      height: 426.67px;
      background: #ffffff;
      border: 1px solid rgba(88, 107, 131, 0.3);
      border-radius: 20px;

      .day {
        font-weight: 800;
        font-size: 32px;
        line-height: 44px;
        margin-top: 45px;
        text-align: center;
        color: #586b83;
      }
      .day-topic {
        height: 180px;
        margin-top: 34px;
        p {
          font-weight: 600;
          font-size: 32px;
          line-height: 44px;
          padding-top: 31px;
          text-align: center;
          color: #ffffff;
        }
        &-1 {
          background-color: #00a65f;
        }
        &-2 {
          background-color: #ffa943;
        }
        &-3 {
          background-color: #134380;
        }
      }
      .day-detail {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        margin-top: 32px;
        padding:2%;
        text-align: center;
        color: #000000;
      }
    }
  }
}
.past-WCF {
  display:grid;
  justify-content:center;
  .nth-WCF {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    margin-top: 60px;
    color: $ICAF_BLUE;
    padding:2%;
    &-6 {
      margin-top: 40px;
    }
  }
  .WCF-nth-container {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    column-gap: 2rem;
    row-gap:1rem;
    margin-top: 40px;
    overflow-x:auto;
    padding:2%;
    .WCF-nth-video {
      width:100%;
      height:100%;
      iframe {
        width:100%;
        height:100%;
        border-radius:12px;
      }
    }
    .section-name {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: $ICAF_GRAY;
    }
    img {
      height: 450px;
      border-radius: 10px;
    }
    iframe {
      width: 100%;
      min-width:220px;
    }
    .ifram2 {
      width: 505px;
      height: 308px;
    }
    .past-WCF-underline {
      color: #586b83;
      border: 3px solid rgba(88, 107, 131, 0.2);
      margin-top: 8px;
    }
  }
}
.design-logo {
  margin-top: 60px;
  .title-container {
    background-color: #ffffff;
    overflow: auto;
    p {
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      margin: 45px 31px 26px;
      color: $ICAF_BLUE;
    }
  }
  .press-footage {
    padding: 0% 5% 0%;
    border-radius:12px;
    width:100%;
    max-width:1300px;
    height:731.25px;
    margin:auto;
    iframe {
      width:100%;
      height:100%;
      border-radius: 12px;
    }
  }
}

@media (max-width:1358px) {
  .design-logo {
    .press-footage {
      padding: 0% 5% 0%;
      border-radius:12px;
      width:100%;
      height:48.3vw;
      iframe {
        width:100%;
        height:100%;
        border-radius: 12px;
      }
    }  
  }
  .goal-description {
    padding:1rem;
    &-top {
      margin: 5% auto 0px;
    }  
  }
  .schedule-info {
    padding: 5%;
    .second-grid {
      margin-top:7%;
    }  
  }
  .schedule-info {
    margin-top:1rem;
    grid-template-columns: unset;
  }
  .swiper {
    height: unset;
    margin-top:5%;
    width: 90%;
    max-width: 1440px;
    .swiper-navBtn {
      display:none;
    }
    .swiper-slide {
      width: 100%;
      max-width: none;
      height: auto; 
        }
    img {
      object-fit: cover;
    }
  }
}
@media (max-width:1200px) {
  .past-WCF {
    .info-underline {
      display:none;
    }  
    .label-underline {
      .past-WCF-underline-m {
        // The grid's contents don't increase in size when the grid overflows horizontally,
        // so we must hardcode the right-side underline.
        width:155%;
        overflow:hidden;
      }
    }
    .WCF-nth-container {
      grid-template-columns: minmax(0, 2.5fr) minmax(0, 0.8fr);
      .WCF-nth-magazine {
        height: 45vw;
      }
      .WCF-nth-video {
        height: 45vw;

      }
      img {
        height:100%;
        width:auto;
      }
    }
    .WCF-nth-container::-webkit-scrollbar {
      width: 0.7em;
    }
    .WCF-nth-container::-webkit-scrollbar-thumb {
      background-color: rgb(190, 190, 190);
      border-radius: 5px;
    }
  }
  .schedule-main {
    .schedule-section {
      .day-container {
        .day-detail {
          margin-top:10%;
        }
      }
    }
  }
}
@media (max-width:1000px) {
  .schedule-main {
    .schedule-section {
      padding:0%;
    }
  }
}
@media (max-width:768px) {
  .past-WCF {
    .WCF-nth-container {
      grid-template-columns: minmax(0, 2.5fr) minmax(0, 0.8fr);
      .WCF-nth-magazine {
        height: 45vw;
      }
      .WCF-nth-video {
        height: 45vw;

      }
      img {
        height:100%;
        width:auto;
      }
    }  
  }
  .schedule-main {
    margin-top:2%;
    background-image: url("/resource/image/mission/world-childrens-festival/schedule-background.svg");
    background-size: inherit;
    background-repeat: no-repeat;
    width:100%;
    padding-top:4rem;
    img {
      position:relative;
    }
    .schedule-section {
      background-color: #f1f1f1;
      z-index:1;
      position:relative;
      margin: 0;
      padding: 2rem;
      max-width:100%;
      grid-template-columns: unset;
    }  
  }
  .schedule-main {
    .schedule-section {
      .day-container {
        .day-detail {
          margin-top:4%;
        }
      }
    }
  }
}