@use "../icaf-colors" as *;

@use "../icaf-general";
@use "../icaf-nav";
@use "../icaf-footer";

.goal-description {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: $ICAF_BLUE;

  &-top {
    width: 1060px;
    margin: 90px auto 0px;
    align-items: center;
    text-align: center;
  }

  &-WCF {
    margin: 43px auto 0px;
    text-align: center;
  }

  &-past-WCF {
    margin-top: 17px;

  }
}

// multiple sections have same style as underline and content, so put here
.info-underline {
  height: 5px;
  width: 32px;
  background-color: $ICAF_YELLOW;

  &-7th-WCF {
    margin: 60px auto 0px;
  }
}

.info-content {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;

  &-schedule {
    margin-top: 5px;
  }

  &-WCF {
    width: 580px;
    margin: 24px auto 0px;
    color: $ICAF_GRAY;

    a {
      color: $ICAF_BLUE;
      text-decoration: none;
    }
  }
}

.swiper {
  margin-top: 104px;
  width: 1440px;
  height: 689px;
  .swiper-slide {
    width: 726px;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .swiper-navBtn {
    height: 64px;
    width: 64px;
    margin-top: 40px;
    color: $ICAF_WHITE;
    background-color: $ICAF_BLUE;
    border-radius: 50%;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover {
    color: $ICAF_WHITE;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after {
    font-size: 30px;
  }
  .swiper-button-next {
    margin-right: 100px;
    align-items: center;
  }
  .swiper-button-prev {
    margin-left: 100px;
    align-items: center;
  }
}
.swiper-pagination {
  position: relative;
  margin-top: 33px;
  .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    margin: 10px;
    background-color: $ICAF_GRAY;
    opacity: 0.2;
  }
  .swiper-pagination-bullet-active {
    background-color: $ICAF_YELLOW;
    opacity: 1;
  }
  @media screen and (max-width: 768px) {
    .slide-content {
      margin: 0 10px;
    }
    .swiper-navBtn {
      display: none;
    }
  }
}

.schedule-info {
  width: 1055px;
  display: grid;
  margin: 157px auto 0px;
  grid-template-columns: 460px 445px;
  gap: 150px;

  .info-title {
    font-weight: 600;
    margin-top: 23px;
    font-size: 32px;
    line-height: 44px;
    color: $ICAF_BLUE;
  }
}

.schedule-main {
  margin-top: 60px;

  img {
    position: absolute;
  }

  .schedule-section {
    position: absolute;
    width: 1062px;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    gap: 51px;
    margin: 141px 190px 0px;

    .day-container {
      width: 320px;
      height: 426.67px;
      background: #FFFFFF;
      border: 1px solid rgba(88, 107, 131, 0.3);
      border-radius: 20px;

      .day {
        font-weight: 800;
        font-size: 32px;
        line-height: 44px;
        margin-top: 45px;
        text-align: center;
        color: #586B83;
      }

      .day-topic {
        width: 321px;
        height: 180px;
        margin-top: 34px;

        p {
          font-weight: 600;
          font-size: 32px;
          line-height: 44px;
          padding-top: 31px;
          text-align: center;
          color: #FFFFFF;
        }

        &-1 {
          background-color: #00A65F;
        }

        &-2 {
          background-color: #FFA943;
        }

        &-3 {
          background-color: #134380;
        }
      }

      .day-detail {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        margin-top: 32px;
        text-align: center;
        color: #000000;
      }
    }
  }
}

.WCF-7th {
  margin-top: 846px;
}

.past-WCF {
  margin: 60px 190px 0px;

  .nth-WCF {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    margin-top: 60px;
    color: $ICAF_BLUE;

    &-6 {
      margin-top: 40px;
    }
  }

  .WCF-nth-container {
    display: grid;
    grid-template-columns: 640px 300px;
    gap: 121px;
    margin-top: 40px;

    .section-name {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      margin-top: 40px;
      color: $ICAF_GRAY;

      &-m {
        margin-top: 48px;
      }
    }

    img {
      width: 300px;
      height: 390px;
      border-radius: 10px;
    }

    iframe {
      width: 640px;
      height: 390px;
    }

    .ifram2 {
      width: 505px;
      height: 308px;
    }

    .past-WCF-underline {
      color: #586B83;
      border: 3px solid rgba(88, 107, 131, 0.2);
      margin-top: 8px;

      &-v {
        width: 640px;
      }

      &-m {
        width: 300px;
      }

      &-v2 {
        width: 505px;
      }
    }
  }
}

.design-logo {
  height: 1091px;
  margin-top: 60px;
  background-color: #F3F3F3;
  overflow: auto;

  .title-container {
    width: 1230px;
    height: 116px;
    background-color: #FFFFFF;
    margin: 50px auto 0px;
    overflow: auto;

    p {
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      margin: 45px 31px 26px;
      color: $ICAF_BLUE;
    }
  }

  .press-footage-img {
    width: 1230px;
    margin: 0px auto;
  }
}