RewriteEngine On

Redirect 301 "/support" "/donate"

Redirect 301 "/Childart_Q2_2019_Empathy.pdf"        "/resource/pdfs/Childart_Q2_2019_Empathy.pdf"
Redirect 301 "/ChildArt_Q1_2019_InternetSafety.pdf" "/resource/pdfs/ChildArt_Q1_2019_InternetSafety.pdf"
Redirect 301 "/ChildArt_Q3_2018.pdf"                "/resource/pdfs/ChildArt_Q3_2018.pdf"

RedirectMatch 301 ^/childart/(.*)\.pdf$ /resource/pdfs/$1.pdf
RedirectMatch 301 ^/pdfs/(.*)\.pdf$     /resource/pdfs/$1.pdf
RedirectMatch 301 ^/flipbooks/(.*)$     /resource/flipbooks/$1


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([^/]+)$ /$1/ [R=302,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/(.+)$   /resource/flipbooks/$1/$2   [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$      /resource/flipbooks/$1/index.html  [L]

<Files "config.php">
  Require all denied
</Files>
