Redirect 301 "/YoungLeaders" "/resource/flipbooks/YoungLeaders"
Redirect 301 "/HumanSecurity" "/resource/flipbooks/HumanSecurity"
Redirect 301 "/Artpreneurs" "/resource/flipbooks/Artpreneurs"
Redirect 301 "/Creativity" "/resource/flipbooks/Creativity"
Redirect 301 "/ChangingEnvironment" "/resource/flipbooks/ChangingEnvironment"
Redirect 301 "/TheMoralOfYourStory" "/resource/flipbooks/TheMoralOfYourStory"
Redirect 301 "/GlobalCreativeLeaders" "/resource/flipbooks/GlobalCreativeLeaders"
Redirect 301 "/ABCDStudy" "/resource/flipbooks/ABCDStudy"
Redirect 301 "/ArtforHealth" "/resource/flipbooks/ArtforHealth"
Redirect 301 "/childart/2021WCF" "/resource/flipbooks/2021WCF"
Redirect 301 "/support" "/donate"

Redirect 301 "Childart_Q2_2019_Empathy.pdf" "/resource/pdfs/Childart_Q2_2019_Empathy.pdf"
Redirect 301 "/ChildArt_Q1_2019_InternetSafety.pdf" "/resource/pdfs/ChildArt_Q1_2019_InternetSafety.pdf"
Redirect 301 "/ChildArt_Q3_2018.pdf" "/resource/pdfs/ChildArt_Q3_2018.pdf"
Redirect 301 "/Childart_Q2_2019_Empathy.pdf" "/resource/pdfs/Childart_Q2_2019_Empathy.pdf"

RedirectMatch 301 ^/childart/(.*)\.pdf$ /resource/pdfs/$1.pdf
RedirectMatch 301 ^/pdfs/(.*)\.pdf$ /resource/pdfs/$1.pdf
RedirectMatch 301 ^/flipbooks/(.*)$ /resource/flipbooks/$1

<Files "config.php">
  Require all denied
</Files>
