@use "../icaf-colors" as *;

@use "../icaf-general";
@use "../icaf-nav";
@use "../icaf-footer";

.illustration {
  margin: 90px auto 0px;
  width: 921px;
  max-width:100%;
  .illustration-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: $ICAF_BLUE;
  }
  .images {
    margin-top: 104px;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    column-gap: 19px;
    max-width:100%;
    margin:5% auto 0;
    img {
      width:100%;
      height: 100%;
      object-fit:cover;
      border-radius:12px;
    }
    .image-container-1 {
      grid-column: 1;
      grid-row: 1;
    }
    .image-container-2 {
      grid-column: 1;
      grid-row: 2;
    }
    .image-container-3 {
      grid-column: 2;
      grid-row: 1 / 3;
    }
  }
}

.help-businesses {
  margin: 50px auto 0px;
  max-width: 1057px;
  padding:5%;
  .explaination {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
  }
  .details {
    margin-top: 55px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    ul {
      padding-left: 2rem;
      li {
        a {
          color: #000;
        }
      }
    }
  }
}

.our-main-assets {
  .our-main-assets-title {
    margin: 100px auto 0px;
    max-width: fit-content;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: $ICAF_BLUE;
  }
  .blue-buttons {
    margin: 114px auto 0px;
    max-width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 431px);
    grid-template-rows: repeat(2, 81px);
    column-gap: 20px;
    row-gap: 84px;
    a {
      text-decoration: none;
      .blue-button {
        width: 431px;
        height: 81px;
        background: $ICAF_BLUE;
        color: $ICAF_YELLOW;
        border-radius: 10px;
        font-weight: 900;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.1em;
        flex: none;
        order: 0;
        flex-grow: 0;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #FFF;
        &:hover {
          background: $ICAF_YELLOW;
          color: $ICAF_BLUE;
        }
      }
    }
  }
}
.our-partners {
  .our-partners-title {
    margin: 150px auto 0px;
    max-width: fit-content;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: $ICAF_BLUE;
  }
  .subtitle {
    margin: 51px auto 0px;
    max-width: fit-content;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #575756;
  }
  .logos {
    margin: 0 auto 100px;
    max-width: 100%;
    padding:5%;
    .logo-line {
      display: flex;
      flex-wrap:wrap;
      justify-content: space-around;
      .logo-container {
        display: flex;
        align-items: center;
        justify-content:center;
        min-height:30px;
        max-width:min-content;
      }
    }
  }
}

@media (max-width:1358px) {
  .illustration {
    margin-top:5%;
    padding:5%;
  }
  .help-businesses {
    margin-top:5%;
  }
  .our-main-assets {
    padding:5%;
    .our-main-assets-title {
      max-width:unset;
      margin: 5% auto 0;
      text-align:center;
    }
      .blue-buttons {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 5%;
        column-gap:5%;
        max-width: 100%;
        margin-top:5%;
        a {
          .blue-button {
            width: 100%;
            height: 100px;
            text-align: center;
            padding: 10%;
          }
        }
    }
  }
  .our-partners {
    .our-partners-title {
      text-align:left;
      max-width:100%;
      padding:5% 5% 0;
      margin:5% 0 0;
    }
    .subtitle {
      text-align:left;
      max-width:100%;
      padding:2% 5% 5%;
      margin:unset;
    }
    .logos {
      margin:auto;
    }
  }
}
@media (max-width:768px) {
  .our-main-assets {
    .our-main-assets-title {
      text-align:left;
    }
  }
}
