@use "../icaf-colors" as *;

@use "../icaf-general";
@use "../icaf-nav";
@use "../icaf-footer";

.img-container {
  width: fit-content;
  margin: 90px auto 0;

  img {
    width: 920px;
    height: 504.78px;
    border-radius: 20px;
  }
}

.description {
  max-width: 1060px;
  margin: 125px auto 220px;

  p {
    color: #000000;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 33px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
