@use "../icaf-colors" as *;

@use "../icaf-general";
@use "../icaf-nav";
@use "../icaf-footer";

.page-caption {
  margin: 55px auto 0px;
  max-width: 1060px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: $ICAF_BLUE;
}

.wave1 {
  margin-top: 22px;
}

.description-wrapper {
  background: rgba(19, 67, 128, 0.1);
  padding: 35px 0 54px;

  .description {
    max-width: 1060px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: $ICAF_BLUE;

    .capitol-imgs {
      margin-top: 75px;
      display: grid;
      gap: 26px 19px;
      grid-template-areas:
        "a b"
        "c b";
      justify-content: center;

      @for $i from 1 through 3 {
        img:nth-of-type(#{$i}) {
          grid-area: unquote(str-slice("abc", $i, $i));
        }
      }
    }
  }
}

.content-wrapper {
  margin: 95px auto 0px;
  max-width: 1060px;
  .section-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: $ICAF_BLUE;
    text-align: center;
    margin: 80px 0 40px;
  }
  .section {
    font-size: 24px;
    line-height: 100px;
  }
  .list-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    justify-content: space-evenly;

    ul {
      font-size: 24px;
      line-height: 33px;
      // width: fit-content;
      list-style: none;
    }
  }
}

.content {
  max-width: 1060px;
  margin: 60px auto 220px;
  .section-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: $ICAF_BLUE;
    text-align: center;
    margin: 80px 0 40px;
  }
  .section {
    font-size: 24px;
    line-height: 100px;
  }
  .list-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    justify-content: space-evenly;

    ul {
      font-size: 24px;
      line-height: 33px;
      // width: fit-content;
      list-style: none;
    }
  }
}
