@use "../icaf-colors" as *;

@use "../icaf-general";
@use "../icaf-nav";
@use "../icaf-footer";

.partnership-description {
  margin: 55px auto 0;
  max-width: 1060px;

  p {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: $ICAF_BLUE;
    text-align: center;
  }
}

.img-container {
  margin: 104px auto 0;
  width: 920px;

  img {
    max-width: 920px;
    border-radius: 20px;
  }
}

.description {
  margin: 125px auto 0;
  width: fit-content;

  span {
    color: $ICAF_BLUE;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
  }
}

.partners {
  margin: 40px auto 220px;
  max-width: 1032px;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 246px);
    column-gap: 16px;
    grid-template-rows: repeat(3, 246px);
    row-gap: 16px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 246px;
      height: 246px;
      border-radius: 9px;

      img {
        position: absolute;
      }

      .blue-card {
        border-radius: 10px;
        position: absolute;
        width: 246px;
        height: 246px;
        opacity: 0;
        transition: 0.5s ease;
        background: $ICAF_BLUE;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          color: $ICAF_WHITE;
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          text-align: center;
          max-width: 194px;

          a {
            color: $ICAF_WHITE;
          }

          &.wb {
            max-width: 209px;
          }
        }
      }
    }

    li:hover .blue-card {
      opacity: 1;
    }
  }
}
