@use "../icaf-colors" as *;

@use "../icaf-general";
@use "../icaf-nav";
@use "../icaf-footer";

.breadcrumb {
    margin-top: 112px;
    margin-left: 190px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #939393;
}

.partnership-title {
    color: $ICAF_BLUE;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    margin-top: 4px;
    margin-left: 185px;
}

.partnership-description {
    color: #575756;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-top: 55px;
    margin-left: 190px;
    max-width: 1060px;
    
    span {
        max-width: 1060px;
    }
}

.img-container {
    position: relative;
    overflow: hidden;
    height: 584px;
    margin-top: 90px;
    margin-left: 0%;

    .img {
        position: absolute;
        top: -100%;
        bottom: -100%;
        left: -100%;
        right: -100%;
        margin: auto;
    }
}

.description {
    color: $ICAF_BLUE;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    margin-top: 63px;
    margin-left: 202px;
    
    span {
        max-width: 1037px;
    }
}

.partners {
    margin-top: 30px;
    margin-bottom: 156px;

    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        column-gap: 52px;

        &:not(:last-child) {
            margin-bottom: 29px;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 246px;
            height: 246px;
            background: $ICAF_WHITE;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 9px;

            img {
                position: absolute;
            }

            .img1 {
                width: 183px;
                height: 65px;
            }

            .img2 {
                width: 122px;
                height: 122px;
            }

            .img3 {
                width: 186px;
                height: 84px;
            }

            .img4 {
                width: 215.45px;
                height: 30.91px;
            }

            .img5 {
                width: 120px;
                height: 120px;
            }

            .img6 {
                width: 161px;
                height: 119px;
            }

            .img7 {
                width: 187px;
                height: 105px;
            }

            .img8 {
                width: 148px;
                height: 98px;
            }

            .img9 {
                width: 220px;
                height: 30.53px;
            }

            .img10 {
                width: 223px;
                height: 68px;
            }

            .blue-card {
                border-radius: 10px;
                position: absolute;
                width: 246px;
                height: 246px;
                opacity: 0;
                transition: .5s ease;
                background: $ICAF_BLUE;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    color: $ICAF_WHITE;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    text-align: center;
                    max-width:194px;

                    &.seventh {
                        max-width:209px;
                    }

                    a {
                        color: $ICAF_WHITE;
                    }
                }
            }
        }

        li:hover .blue-card {
            opacity: 1;
        }
    }
}