@use "../icaf-colors" as *;

@use "../icaf-general";
@use "../icaf-nav";
@use "../icaf-footer";

.description {
    width: 1060px;
    height: 147px;
    margin-top: 55px;
    margin-left: 190px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: $ICAF_BLUE;
}
.members-imgs {
    width: 900px;
    height: 445.46px;
    margin-top: 90px;
    margin-left: 260px;
    display: grid;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(2, 1fr);
    .img3 {
        margin-top: 55px;
    }
}

.team-members {
    width: 650px;
    height: 1318px;
    margin-top: 90px;
    margin-left: 370px;
    align-items: center;
    text-align: center;
    line-height: 60px;
    color: #575756;
    .members-container {
        list-style-type: none;
    }
    .members-title {
        font-weight: 600;
        font-size: 32px;
    }
    .members-name {
        font-weight: 400;
        font-size: 24px;
        li {
            &:last-child {
                margin-bottom: 40px;
            }
        }
    }
}
.loving-memory {
    width: 652px;
    height: 44px;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    margin-top: 100px;
    margin-left: 394px;
    text-align: center;
    color: #575756;
}
.shisha-mcKee-img {
    width: 522px;
    height: 311px;
    margin-top: 55px;
    margin-left: 456px;
    border-radius: 10px;
}
.shisha-mcKee-description {
    width: 528px;
    height: 95px;
    margin-top: 90px;
    margin-left: 460px;
    margin-bottom: 125.54px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #575756;
}