@charset "utf-8";
/* CSS Document */
@use "../icaf-colors" as *;

@use "../icaf-general";
@use "../icaf-nav";
@use "../icaf-footer";

.top-description {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-top: 90px;
  text-align: center;
  color: $ICAF_BLUE;
}
.top-right-image-wrapper {
  position: relative;
  width: 1060px;
  margin: 0 auto;
  img {
    position: absolute;
    right: 0;
    bottom: -37px;
  }
}

.main-image-wrapper {
  margin: 104px auto 0;
  width: fit-content;
  max-width:100%;
  border-radius: 20px;
  .caption {
    color: #575756;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
    text-align: right;
  }
  img {
    width:100%;
  }
}

.book-description {
  margin-top: 5%;
  margin-bottom: 1%;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: $ICAF_BLUE;
}

.bottom-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 22px;
  row-gap: 22px;
  margin: 75px auto 220px;
  width: fit-content;
  margin-bottom: 1%;
}



@media (max-width:1358px) {
  .top-right-image-wrapper {
    position:absolute;
    right:30px;
  }
  .top-description {
    padding:5%;
    padding-right:23%;
    text-align:left;
  }
  .main-image-wrapper {
    padding:5%;
  }
  .bottom-links {
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    width: 90%;
    margin:5% auto 15%;
    a {
      img {
        width:100%;
        height:100%;
      }
    }
  }
}
