@charset "utf-8";
/* CSS Document */
@use "../icaf-colors" as *;

@use "../icaf-general";
@use "../icaf-nav";
@use "../icaf-footer";



.description {
  position: relative;
  width: 1060px;
  height: 294px;
  margin: 0px 0px 50px 400px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: $ICAF_BLUE;


.image-top{
  position: relative;
  width: 69px;
  height: 323px;
  margin: 0px 0px 50px 250px;
}
}


.image-wrapper {
  margin: 50px auto 0;
    width: 920px;
  border-radius: 20px; 

  .image-quote {
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    line-height: 25px;
    color: #7c7b7b;
	  margin: 5px 0px 50px 1000px;
    }
  }
       
    .column {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 10px auto 50px 0px;
          }
          
           
         
       
