@charset "utf-8";
/* CSS Document */
@use "../icaf-colors" as *;

@use "../icaf-general";
@use "../icaf-nav";
@use "../icaf-footer";

.description-wrapper{
  background-color: white;
}

.description {
  width: 1060px;
  height: 294px;
  margin: 0px 80px 50px 160px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  
  color: $ICAF_BLUE;
}
.image-top{
  width: 69px;
  height: 323px;
  margin: 0px 80px 50px 160px;
}
.image-wrapper {
 
  border-radius: 20px;
 

  .image-quote {
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    line-height: 25px;
    
    color: #858383;
	  margin-left: 500px
    }
  }
       
          .column {
            float: left;
            width: 25%;
            padding: 5px;
          }
          .row{
            margin: 100px auto 100px;
          }
          .row::after {
            content: "";
            clear: both;
            display: table;
           
          }
       
